<div id="about-container">
    <div id="about-container-inner">
        <!-- <i class="fas fa-address-card"></i> -->
        <app-header></app-header>
        <div class="about-content">
            <div class="banner">
                <h2 class="drop-shadow">About Us</h2>
                <p class="drop-shadow">This assignment was created by Octavio Campos</p>
                <p class="drop-shadow">It was prepared for IS106 at California State University, Fresno.</p>
                <button class="btn btn-primary drop-shadow">Learn More</button>
            </div>
        </div>
    </div>
</div>